---
title: Wedding Videography | Aberdeen, Glasgow, Edinburgh, Scotland
layout: alt
description: I am a storyteller from Aberdeen, Scotland. I capture those intimate sights, sounds and emotions from your special day.  My wedding films are more than just your traditional wedding videos. I create something much more special.
work: current
---

<div id="main" tabindex="-1" class="mw-content-wrapper mw-content-wrapper-gallery">
  <div class="container-fluid mw-container-fluid">
    <div class="row">
      <ul class="mw-work-gallery">
        {% for post in site.posts %}
        {% if post.tags contains 'featured' %}
        <li class="col-lg-4 col-sm-6 mw-work-gallery_item">
          <a href="{{ post.url }}">
            <span class="description-container">
              <span class="description-content-wrapper">
                <span class="description-content">
                  <h4 class="description-title">{{ post.title }}</h4>
                </span>
              </span>
            </span>
            <img class="img-responsive" src="{{ post.thumbnail }}" alt=" ">
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
