<input type="checkbox" name="nav-toggle" id="nav-toggle" class="visually-hidden">
<div class="mw-sidebar">
  <a href="/" class="mw-branding mw-branding-mob" aria-hidden="true"><img src="{{ siteurl }}/static/images/mw-logo-mob.png" alt="Michael Westcott Home Page"></a>
  <a href="/" class="mw-branding mw-branding-desktop"><img src="{{ siteurl }}/static/images/mw-logo.png" alt="Michael Westcott Home Page"></a>
  <label class="mw-navicon" for="nav-toggle">Menu</label>
  <div class="mw-navigation-wrapper">
    <ul class="mw-navigation">
      <li><a href="/" class="{{ page.work }}">Work</a></li>
      <li><a href="/weddings/" class="{{ page.weddings }}">Weddings</a></li>
      <li><a href="/about/" class="{{ page.about }}">About</a></li>
      <li><a href="/contact/" class="{{ page.contact }}">Contact</a></li>
    </ul>
    <footer>
      <ul class="mw-social__links">
        <li class="mw-social__links--facebook">
          <a href="//www.facebook.com/michaelwestcottfilms" target="_blank">
            <span class="sr-only">Facebook</span>
          </a>
        </li>
        <li class="mw-social__links--twitter">
          <a href="//twitter.com/mikeywestcott" target="_blank">
            <span class="sr-only">Twitter</span>
          </a>
        </li>
        <li class="mw-social__links--linkedin">
          <a href="//uk.linkedin.com/in/michael-westcott-560b5252" target="_blank">
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
        <li class="mw-social__links--instagram">
          <a href="//www.instagram.com/mikey.westcott" target="_blank">
            <span class="sr-only">Instagram</span>
          </a>
        </li>
        <li class="mw-social__links--vimeo">
          <a href="//vimeo.com/michaelwestcottfilms" target="_blank">
            <span class="sr-only">Vimeo</span>
          </a>
        </li>
        <li class="mw-social__links--youtube">
          <a href="//www.youtube.com/channel/UCjU6jU6fpdDY9qOCQk9R2wA/featured" target="_blank">
            <span class="sr-only">YouTube</span>
          </a>
        </li>
      </ul>
      <hr class="mw-hr" />
      <div class="mw-copyright">&copy; {{ site.time | date: '%Y' }} Michael Westcott</div>
    </footer>
  </div>
</div>
