<input type="checkbox" name="nav-toggle" id="nav-toggle" class="visually-hidden">
<div class="mw-sidebar">
  <a href="/" class="mw-branding mw-branding-mob" aria-hidden="true"><img src="{{ siteurl }}/static/images/mw-logo-mob.png" alt="Michael Westcott Home Page"></a>
  <a href="/" class="mw-branding mw-branding-desktop"><img src="{{ siteurl }}/static/images/mw-logo.png" alt="Michael Westcott Home Page"></a>
  <label class="mw-navicon" for="nav-toggle">Menu</label>
  <div class="mw-navigation-wrapper">
    <ul class="mw-navigation">
      {% for item in site.data.navigation.links %}
        <li>
          <a class="{% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <footer>
      <ul class="mw-social__links">
        {% for item in site.data.navigation.social %}
          <li class="{{ item.class }}">
            <a href="{{ item.url }}" target="_blank">
              <span class="sr-only">{{ item.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      <hr class="mw-hr" />
      <div class="mw-copyright">&copy; {{ site.time | date: '%Y' }} Michael Westcott</div>
    </footer>
  </div>
</div>
