---

---

@import "variables/colors";
@import "variables/typography";


*, *:before, *:after {
  //outline: 1px solid pink;
}

body {
  background-color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #767676;
}


.work-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#intro,
#work,
#about,
#contact {
  padding: 60px;
  border-bottom: 1px solid;
}


footer {
  padding: 30px 0;
  p {
    margin: 0;
  }
}
