---
---

@import "vendor/bootstrap";
@import "variables/typography";
@import "components/navigation";

/* GLOBAL ____________________*/

*, *:before, *:after {
	// outline: 1px solid pink;
}

body {
@media (min-width: 768px) {
  font-size: 18px;
  line-height: 30px;
}
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

h1 {
  font-weight: 700;
}

p {
  color: #979797;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

a {
  color: #0366d6;
}

:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

nav {
  display: block;
  width: 100%;
  float: left;
  margin-top: 24px;
  border-bottom: 1px solid #e5e5e5;

  .gs-branding {
    a {
      padding: 12px 0;
      display: inline-block;
    }
  }

  .gs-navigation {
    a {
      position: relative;
      padding: 12px 14px;
      display: inline-block;
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #000;
      }
    }
  }
}
